@import "../variables.scss";

.form {
    &-field {
        position: relative;
        display: block;
        margin-bottom: 28px;
    }
    
    &-field.comment {
        margin-bottom: 20px;
    }

    &-input {
        padding: 12px 40px;
        width: 80%;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);  
    }

    &-label {
        position: absolute;
        top: -18px;
        left: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
    
        color: #8E8F99;
    }

    &-input:focus~ .icon {
    fill: $iris;
  }

    &-input:focus {
        outline: none;
        border-color: $iris;    
    }

    &-field .icon {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}